name: sign_mvp
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - ffmpeg
  - pip
  - pip:
      - openai-whisper==20250625
      - matplotlib
      - streamlit>=1.29.0
      - streamlit-audiorecorder # For microphone input
